.recent-container {
    display: flex;
    flex-flow: row nowrap;
    height: 50vh;
    background-color: #0d252f;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.recentlist {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    margin: .5rem;
}

.recentimg {
   max-height: 20rem;
   width: 15rem;
   margin: 0;
   border: 1px solid #01b4e4;
   border-radius: 10%;
}

.recent-heading {
    color: #01b4e4;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
